.donate-container{
    background-color: #D7F0DB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: .3rem;

}

h5 , .donate-container {
        font-size: calc(60% + 1.3vmin);
        text-align: center;
}
