header {
    background-color: rgb(233, 84, 32);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.5rem 3rem .5rem 3rem;
    justify-content: space-between;
    color: white;
    font-size: calc(60% + 1vmin);

}

.logo{
    height: 3rem;
}

.nav-title {
    font-size: 1.5rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

a {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
        .nav-title {
           margin-bottom: .5rem;
        }
}
