.upload-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 90%;
    border: .1rem solid black;
    background-color: white;
    opacity: .8;
    border-radius: .5rem;
    color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    -webkit-box-shadow: -2px 6px 24px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 24px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 24px -6px rgba(0, 0, 0, 0.75);
}

h1 {
    margin: 2rem 0 1rem 4rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}



.label-input-div{
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: .25rem;
}

input{
    border: .1rem solid black;
    border-radius: .25rem;
}
