.table-text{
  border-bottom: none;
}


.table-container {
    margin: 1rem auto;
}

.table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    padding: .25rem;
    /* border: solid .1rem black; */
    border-radius: .2rem;
    word-wrap:break-word;
    min-width: 420px;

}

button {
    margin: 0;
}

.preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.hidden {
    display: none;
}
