
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
height: 100%;
width: 100%;
font-size: calc(60% + 1vmin);

}

body {
  font-family: poppins;
  min-height: 100%;

}

a , a:hover {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
