
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  font-size: calc(60% + 1vmin);
  margin: 0;
  padding: 0;
}

html{
  width: 100vw;

}

body {
  font-family: poppins;

}

a , a:hover {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
